body
{
	font-family: 'Philosopher', sans-serif;
}

img
{
	max-width: 100;
}

.quitar-float
{
	float: none;
}

.espacio-arriba
{
	margin-top: 30px;
}

.pacifico
{
	font-family: 'Pacifico', cursive;
}

.verde
{
	color: #00833D;
}

.espacio-derecha
{
	margin-right: 1em;
}

a
{
	color: #009FFF;
}