body
{
	font-family: 'Philosopher', sans-serif;

}

img
{
	max-width: 100%;
	margin: 0px;
}

.quitar-float
{
	float: none;
}

.ir-inicio
{
	vertical-align: top;
}

.espacio-arriba
{
	margin-top: 30px;
}

.retraso-1
{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.retraso-2
{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}

.pacifico
{
	font-family: 'Pacifico', cursive;
}

.se-gris
{
	background-color: #eee;
}

.padding-largo
{
	padding: 5px 10px;
}

.verde
{
	color: #00833D;
}

.inline-block
{
	float: none;
	display: inline-block;
	margin-right: -4px;
}

.grande
{
	font-size: 4em;
}

.no-list
{
	margin: 0px;
	padding: 0px;
}

.no-list li
{
	list-style-type: none;
}

.espacio-derecha
{
	margin-right: 1em;
}

a, .azul
{
	color: #009FFF;
}